<h1><%= @question.title %></h1>
<h3><%= @question.content %></h3>
<p>
  <%= link_to("Delete", [@question],
                        method: :delete,
                        data: {confirm: "Are you sure?"}) %>

  <%= link_to("Edit", edit_question_path) %>
</p>
<%= form_for [@question, @question.answers.build] do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %>

  <%= f.label :content %>:
  <%= f.text_field :content %>

  <%= f.submit %>
<% end %>

<ul>
  <% @answers.each do |answer| %>
  <li>
    <%= answer.title %>
  </li>
  <p><%= answer.content %></p>
  <% end %>
</ul>


<%= link_to("Back", questions_path) %>
